<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>


    <!--Stylesheets-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">

<!--Vendor scripts -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

<!--Aplication scripts -->
<script src="/scripts/app.js"></script>

  </head>
  <body>

    <div class="container">
      <h1>Wander Around!</h1>
      <p>Don't suffer of FOMO anymore. Know the city you're visiting!</p>
    </div>

<!-- Navigation bar -->
<nav class="container" id="main-buttons">
<div class="row">
  <div class="modal-nav">
  <button type="button" class="btn btn-city">City</button>
  <button type="button" class="btn btn-add-city">Add New City</button>
  <button type="button" class="btn btn-about">About</button>
</div>
</div>
</nav>

    <!-- Begin front page sample -->
<main class="container">
<div id="city-render">

  
  </div>
    </main>



<section class="container" id="landmarks">
  <div class="row">
    <article class="col-md-4 landmark-info">

    </article>
    <article class="col-md-3 landmark-img">
      </article>
  </div>
</section>







  </body>
</html>
