<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>


  <!--Stylesheets-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/styles.css">

  <!--Vendor scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  <!--Aplication scripts -->
  <script src="/scripts/app.js"></script>

</head>

<body>

  <div class="container">
    <h1>Wander Around!!</h1>
    <p>Don't suffer of FOMO anymore. Know the city you're visiting!</p>
  </div>

  <!-- Navigation bar -->
  <nav class="container" id="main-buttons">
    <div class="row">
      <div class="modal-nav">
        <button type="button" class="btn btn-city">City</button>
          <button type="button" class="btn btn-add-city">Add New City</button>
        <button type="button" class="btn btn-about">About</button>
      </div>
    </div>
  </nav>

  <!-- Begin City info rendering -->
  <main class="container">

    <div id="city-render"></div>

        <!--FORM to add city modal-->

        <!-- begin cityModal: this is not visible until you call .modal() on it -->
<div class="modal fade" tabindex="-1" role="dialog" id="cityModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add City</h4>
      </div>
      <div class="modal-body">

        <fieldset class='form-horizontal'>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="cityName">City Name</label>
            <div class="col-md-4">
              <input id="name" name="cityName" type="text" placeholder="" class="form-control input-md" required="">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="description">Description</label>
            <div class="col-md-4">
              <input id="description" name="description" type="text" placeholder="" class="form-control input-md">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="coordinates">Coordinates</label>
            <div class="col-md-4">
              <input id="coordinates" name="coordinates" type="text" placeholder="" class="form-control input-md">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="population">Population</label>
            <div class="col-md-4">
              <input id="population" name="population" type="text" placeholder="" class="form-control input-md">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="area">Area</label>
            <div class="col-md-4">
              <input id="area" name="area" type="text" placeholder="" class="form-control input-md">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="elevation">Elevation</label>
            <div class="col-md-4">
              <input id="elevation" name="elevation" type="text" placeholder="" class="form-control input-md">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="time_zone">Time Zone</label>
            <div class="col-md-4">
              <input id="time_zone" name="time_zone" type="text" placeholder="" class="form-control input-md">
            </div>
          </div>


          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="imageURL">Image URL</label>
            <div class="col-md-4">
              <input id="imageURL" name="imageURL" type="imageURL" placeholder="" class="form-control input-md">
            </div>
          </div>

        </fieldset>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveCity">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->









    <div id="city-render">
    </div>

  </main>


<!-- Begin of landmarks -->
  <section class="container" id="landmarks">
    <div class="row">
      <article class="col-md-4 landmark-info">

      </article>
      <article class="col-md-3 landmark-img">
      </article>
    </div>
  </section>


  <!-- begin cityModal: this is not visible until you call .modal() on it -->
  <div class="modal fade" tabindex="-1" role="dialog" id="landmarkModal">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Add Landmark</h4>
  </div>
  <div class="modal-body">

  <fieldset class='form-horizontal'>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="landmarkName">Landmark Name</label>
      <div class="col-md-4">
        <input id="landmarkName" name="landmarkName" type="text" placeholder="" class="form-control input-md" required="">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="address">Address</label>
      <div class="col-md-4">
        <input id="address" name="address" type="text" placeholder="" class="form-control input-md">
      </div>
    </div>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="landmarkImageURL">Image URL</label>
      <div class="col-md-4">
        <input id="landmarkImageURL" name="landmarkImageURL" type="text" placeholder="" class="form-control input-md">
      </div>
    </div>

  </fieldset>

  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary" id="saveLandmark">Save changes</button>
  </div>
  </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<!-- MODAL for EDIT city button -->
<div class="container" id="city-edit-modal">
</div>


<!-- MODAL for add landmark button -->
<div class="container" id="city-edit-modal">
</div>





</body>

</html>
